* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBackground {
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.firstSection {
    width: 20%;
    height: 60vh;
}

.firstSection h2 {
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.cookiesOnSecond {
    margin-left: 10px;
    font-size: 25px;

}

.bonusCounter p {
    margin-left: 10px;
    font-size: 25px;
}

.miniCookie {
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.bonusFlex {
    display: flex;
    margin: 20px 0;
    align-items: baseline;

}

.ownedCursor,
.ownedGrandma,
.ownedFarm,
.ownedBakery,
.ownedMine {
    font-size: 40px;
    margin-left: 20px;
    color: white;
}

.secondSection {
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cookieImg {
    width: 100%;
    margin-top: 10%;
    cursor: pointer;

}

.thirdSection {
    width: 25%;
    height: 60vh;
}

.cookieCounter {
    width: 100%;
    height: 100px;
    font-size: 70px;
    display: flex;
    justify-content: center;

    color: white;
}

.bonusCounter {
    display: flex;
    margin: 20px 0;
    font-size: 20px;
    color: white;
}

.cursorBonus {
    width: 100%;
    height: 100px;
    font-size: 40px;
    color: white;
    cursor: pointer;


}

.thirdFlex {
    display: flex;

}

.bonusCounterNumber {
    width: 50%;
    height: 100px;
    font-size: 40px;
    color: white;
    cursor: pointer;


}

.grandmaBonus {
    width: 100%;
    height: 100px;

    font-size: 50px;
    color: white;
    cursor: pointer;
}

.farmBonus {
    width: 100%;
    height: 100px;

    font-size: 50px;
    color: white;
    cursor: pointer;
}

.bakeryBonus {
    width: 100%;
    height: 100px;

    font-size: 50px;
    color: white;
    cursor: pointer;
}





.mineBonus {
    width: 100%;
    height: 100px;

    font-size: 50px;
    color: white;
    cursor: pointer;
}

.bonusText {
    font-size: 14px;
}
